.entry(
  ng-repeat="entry in entries"
  ng-click="entryClicked($index)"
) 
  .title {{entry.title}}
  button(
    ng-click="deleteEntry($index)"
  ) X
  
.entry
  input(
    ng-model="entry.title"
  )

  button(
    ng-click="createEntry(entry)"
  ) Create
